version: '3.8'

services:
  bot:
    build: .
    container_name: bot-uchiha
    environment:
      - NODE_ENV=production
    ports:
      - '3000:3000'
    restart: unless-stopped
    volumes:
      - ./data:/app/data
